h1 {
    display: block;
    margin: 20px;
    justify-content: center;
    font-style: bold;
    color: rgb(238, 168, 226);
    
}

p {
    align-self: center;
}

.tex {
    display: inline-block;
    color: rgb(0, 21, 109);
    margin: 10px;
    border-bottom: 0px;
    border-top: 0px; 
    border-style: ridge;
    border-color: rgba(255, 46, 220, 0.68);
    font-style: italic bold;
}
h2 {
    font-weight: 800;
    color: rgb(99, 92, 92);
}

body {

    background-color: #d700ff;
    background-image: linear-gradient(98deg, #d700ff 0%, #16A085 50%, rgb(0, 21, 109) 100%);

}