h1 {
    display: block;
    margin: 20px;
    justify-content: center;
    font-style: bold;
    color: rgb(255, 255, 255);
    
}

p {
    align-self: center;
    display: flexbox;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    color: white;
    border-style: ridge;
    border-color: rgba(255, 225, 0, 0.68);
    font-style: bold;
}

.box {
    border-bottom: 0px;

}


h2 {
    font-weight: 800;
    color: rgb(99, 92, 92);
}

body {
    align-items: center;
    justify-content: center;
    background-color: #d700ff;
    background-image: linear-gradient(90deg, #fea116 0%, #030045 59%, rgb(79, 2, 2) 100%);
}