h1 {
    font-style: bold;
    color: rgb(238, 168, 226);
}

inline {
    display: inline-block;
    border-bottom: 4px;
    border-color: maroon;
    font-style: italic bold;
}
h2 {
    font-weight: 800;
    color: rgb(99, 92, 92);
}

body {
    color: rgb(83, 3, 79);
    background-color: bisque;
}